.no-match-container {
	/* padding: 0%; */
	text-align: center;
	height: 100vh;
	display: grid;
	align-items: start;
	justify-items: center;
	padding: 10%;
}
.no-match-title{
	font-size: 8rem;
	color: #3f51b5;
}

.no-match-subtext{
	font-size: 2rem;
	
}