.calories-max-container {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.checkbox-subtitle {
	padding: 1%;
	font-weight: 600;
	
}

checkbox-item label{
	padding: 1%;
	
}

.calories-input {
	border: 0;
	/* padding: 1%; */
	font-size: 18px;
	padding: 1%;
	background: #ececec;
	border-bottom: 2px solid #3f51b5;
}

.input_range{
	border-radius: 25px;
	background: #fff;
	padding: 2%;
	font-size: 18px;
	box-shadow: 0px 1px 3px #dbd8d8;
	}

.checkboxes-container{
grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
		display:grid;
		padding:1% 5%;
}
.checkbox{
	position: absolute;
	opacity: 0;
	width: 50px;
height: 50px;
	
}

.checkbox-item{
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column
}

.search-form{
		padding: 2%;
justify-content: center;
	display:grid;
	align-items: center;
	justify-items:center;
	grid-template-columns: 1fr 1fr;
	background: #fdfdfd
}

.search-form label{
	opacity: 0.8;
	
}

.search-form-container {
/*	width: 85%; */
	padding: 3%;
	/* margin: 5%; */
	/* background: black; */
	height: 100%;
	/* align-self: center; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}
	h1{
		margin: 0;
	}

.calories-input {
	border: 0;
	/* padding: 1%; */
	font-size: 18px;
	padding: 1%;
	background: white;
	/* border-bottom: 2px solid #3f51b5; */
	background: linear-gradient(120deg, #18b2fdb0, #1968ffc4);
	border-radius: 5px;
	background: 0;
	border-radius: 49px;
	padding: 1% 2%;
	background: #fff;
	/* color: black !important; */
	box-shadow: 0px 1px 3px #dbd8d8;
}
.main-search-title {
	margin: 2% 0px;
	font-weight: 600;
color: #0c76d2;
		font-family: "Bellota Text";
	font-size: 24px;
}

.form-parameters {
	width: 85%;
	background: #ffffffe3;
	padding: 1%;
	align-self: center;
	justify-self: center;
	background: #f9f9f9e3;
	padding: 2%;
	box-shadow: 0px 1px 1px 1px #d5d5d54f;
}

.checkbox-subtitle,.card-list-item-subtitle  {
	padding: 2% 0;
	font-weight: 600;
	color: #00c853;
}

.inputs-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 3% 0;
}


.input-container{
	width: 100%;
	font-size: 32px;
	padding: 1%;
	/* border-radius: 26px; */
	border-bottom: 3px solid #2b6fc6;
	border: 0;
	background: #fff;
	background: #fff;
	/* border: 3px solid white; */
	border-radius: 30px;

	padding: 1% 2%;
	display: flex;

	flex-direction: row;

	justify-content: space-between;
	box-shadow: 0px 1px 3px #dbd8d8;
}
.query-input{
	border: 0;
}

.search-button {
	background: 0;
	border: 0;
}

.toggle-item-container {
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 2% 0;
}


@media only screen and (max-width: 800px){
	
	.form-parameters{
		padding: 3%;
	}
	.checkboxs-container-super {
	padding: 2% 0;
}
	
	.search-form{
		grid-template-columns: 1fr ;
	}
}

@media only screen and (max-width: 500px){
	
	.input-container{
		font-size: 24px;
	}
}


@media only screen and (max-width: 395px){
	
	.input-container{
		font-size: 16px;
	}
}


/*jr23543757*/
